__pycache__
*__pycache__
*temp.*
temp.*
*.log*
*.zip
venv
.env
debug.*
db.*
*.sqlite3
*.pyc
credentials.json
staticfiles
media
.env
.env.dev
.env.prod
/temp_qr_images
employees/temp_qr_images/
/docs/
sys
